<div class="hero-area d-flex align-items-center">

    <!-- Hero Thumbnail -->
    <div class="hero-thumbnail equalize bg-img" style="background-image: url(../../../assets/img/bg-img/contact.jpg);"></div>

    <!-- Hero Content -->
    <div class="hero-content equalize">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="line"></div>
                    <h2>Contact me</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui.</p>
                    <app-ui-button
                        [additionalClasses]="'white-btn'"
                        [buttonText]="'Contact Me'">
                    </app-ui-button>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="sonar-contact-area section-padding-100">
    <!-- back end content -->
    <div class="backEnd-content">
        <img class="dots" src="../../../assets/img/core-img/dots.png" alt="">
    </div>

    <div class="container">
        <div class="row">
            <!-- Contact Form Area -->
            <div class="col-12">
                <div class="contact-form text-center">

                    <h2>I am an experienced photographer</h2>
                    <h4>Let’s talk</h4>

                    <form [formGroup]="contactForm" autocomplete="off">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <app-ui-input
                                        [placeHolderText]="'Full Name'"
                                        [inputId]="'fullName'"
                                        [theFormGroup]="contactForm">
                                    </app-ui-input>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <app-ui-input
                                        [placeHolderText]="'Email'"
                                        [inputId]="'email'"
                                        [theFormGroup]="contactForm">
                                    </app-ui-input>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <app-ui-input
                                        [placeHolderText]="'Subject'"
                                        [inputId]="'subject'"
                                        [theFormGroup]="contactForm">
                                    </app-ui-input>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <app-ui-text-area
                                        [placeHolderText]="'Message'"
                                        [inputId]="'message'"
                                        [theFormGroup]="contactForm">
                                    </app-ui-text-area>
                                </div>
                            </div>
                            <div class="col-12">
                                <app-ui-button
                                    [buttonText]="'Contact Me'">
                                </app-ui-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
