@import '~src/scss/responsive';
@import '~src/scss/theme_color';

/* :: Footer CSS */

.footer-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .copywrite-text {
        padding: 30px;
        text-align: center;
        p {
            font-weight: 300;
            margin-bottom: 0;
        }
        a {
            color: $text-color;
            font-weight: 300;
            font-size: 15px;
            &:hover,
            &:focus {
                font-size: 15px;
            }
        }
    }
    .backEnd-content {
        .dots {
            position: absolute;
            right: -50px;
            top: 0;
            z-index: -1;
        }
        h2 {
            position: absolute;
            font-size: 230px;
            color: #f0f0f0;
            z-index: -1;
            top: -50px;
            left: -50px;
            @media #{$breakpoint-lg} {
                font-size: 170px;
            }
            @media #{$breakpoint-md} {
                font-size: 120px;
                top: 0;
            }
            @media #{$breakpoint-xs} {
                font-size: 80px;
                top: 0;
                left: -30px;
            }
        }
    }
}
