<button #button
        [type]="buttonType"
        [attr.id]="buttonId"
        class="btn sonar-btn {{additionalClasses}}"
        [disabled]="inProgress || isDisabled"
        (click)="emitClickAction()">
    <div class="button-content">
        <div class="sk-chase" *ngIf="inProgress">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
          </div>
        <span class="button-text {{textClass}}" [innerHTML]="buttonText"></span>
        <!-- <i *ngIf="iconClass" class="button-icon fa {{iconClass}}" aria-hidden="true"></i> -->
    </div>
</button>
