    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel owl-loaded">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let item of carouselItems">
                    <ng-template carouselSlide [id]="item.id">
                        <div class="single-hero-slide bg-img slide-background-overlay" [ngStyle]="{'background-image': 'url(' + item.imgLink + ')'}">
                            <div class="container h-100">
                                <div class="row h-100 align-items-end">
                                    <div class="col-12">
                                        <div class="hero-slides-content">
                                            <div class="line"></div>
                                            <h2>Sand Storm</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->



<div class="portfolio-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="portfolio-title">
                    <h2>“In photography there is a reality so subtle that it becomes more <span>real</span> than reality.”</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <!-- Single Portfoio Area -->
            <div class="col-12 col-md-5">
                <div class="single-portfolio-item mt-100 portfolio-item-1 wow fadeIn">
                    <div class="backend-content">
                        <img class="dots" src="../../../assets/img/core-img/dots.png" alt="">
                        <h2>Reality</h2>
                    </div>
                    <div class="portfolio-thumb">
                        <img src="../../../assets/img/bg-img/p1.png" alt="">
                    </div>
                    <div class="portfolio-meta">
                        <p class="portfolio-date">Feb 02, 2018</p>
                        <h2>Italy in the sunset</h2>
                    </div>
                </div>
            </div>
            <!-- Single Portfoio Area -->
            <div class="col-12 col-md-6">
                <div class="single-portfolio-item mt-230 portfolio-item-2 wow fadeIn">
                    <div class="backend-content">
                        <img class="dots" src="../../../assets/img/core-img/dots.png" alt="">
                    </div>
                    <div class="portfolio-thumb">
                        <img src="../../../assets/img/bg-img/p2.png" alt="">
                    </div>
                    <div class="portfolio-meta">
                        <p class="portfolio-date">Feb 02, 2018</p>
                        <h2>Mountain Landscape</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Portfoio Area -->
            <div class="col-12 col-md-10">
                <div class="single-portfolio-item mt-100 portfolio-item-3 wow fadeIn">
                    <div class="backend-content">
                        <img class="dots" src="../../../assets/img/core-img/dots.png" alt="">
                        <h2>Photography</h2>
                    </div>
                    <div class="portfolio-thumb">
                        <img src="../../../assets/img/bg-img/p3.png" alt="">
                    </div>
                    <div class="portfolio-meta">
                        <p class="portfolio-date">Feb 02, 2018</p>
                        <h2>Foggy sunset over the lake</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <!-- Single Portfoio Area -->
            <div class="col-12 col-md-6">
                <div class="single-portfolio-item portfolio-item-4 wow fadeIn">
                    <div class="backend-content">
                        <img class="dots" src="../../../assets/img/core-img/dots.png" alt="">
                    </div>
                    <div class="portfolio-thumb">
                        <img src="../../../assets/img/bg-img/p2.png" alt="">
                    </div>
                    <div class="portfolio-meta">
                        <p class="portfolio-date">Feb 02, 2018</p>
                        <h2>Clouds on mountain top</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Portfoio Area -->
            <div class="col-12 col-md-5">
                <div class="single-portfolio-item portfolio-item-5 wow fadeIn">
                    <div class="backend-content">
                        <img class="dots" src="../../../assets/img/core-img/dots.png" alt="">
                        <h2>Hope</h2>
                    </div>
                    <div class="portfolio-thumb">
                        <img src="../../../assets/img/bg-img/p5.png" alt="">
                    </div>
                    <div class="portfolio-meta">
                        <p class="portfolio-date">Feb 02, 2018</p>
                        <h2>Over the canion</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single Portfoio Area -->
            <div class="col-12 col-md-4">
                <div class="single-portfolio-item portfolio-item-6 wow fadeIn">
                    <div class="portfolio-thumb">
                        <img src="../../../assets/img/bg-img/p6.png" alt="">
                    </div>
                    <div class="portfolio-meta">
                        <p class="portfolio-date">Feb 02, 2018</p>
                        <h2>Mirror lake</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <!-- Single Portfoio Area -->
            <div class="col-12 col-md-4">
                <div class="single-portfolio-item portfolio-item-7 wow fadeIn">
                    <div class="backend-content">
                        <img class="dots" src="../../../assets/img/core-img/dots.png" alt="">
                        <h2>Future</h2>
                    </div>
                    <div class="portfolio-thumb">
                        <img src="../../../assets/img/bg-img/p7.png" alt="">
                    </div>
                    <div class="portfolio-meta">
                        <p class="portfolio-date">Feb 02, 2018</p>
                        <h2>Mirror lake</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sonar-call-to-action-area section-padding-0-100">
    <div class="backEnd-content">
        <h2>Dream</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="call-to-action-content wow fadeInUp" data-wow-delay="0.5s">
                    <h2>I am an experienced photographer</h2>
                    <h5 class="mb-100" >Let’s talk</h5>
                    <app-ui-button
                        [buttonText]="'Contact Me'">
                    </app-ui-button>
                </div>
            </div>
        </div>
    </div>
</div>
